@model CST465.BlogPost
@{
    Layout = null;
}

<h2>@Model.Title</h2>
<p>@Model.Content</p>
<div>By: @Model.Author</div>
<div>Published on: @Model.Timestamp.ToLocalTime()</div>
@Html.ActionLink("Edit Post", "Edit", new { @ID = Model.ID })