@model List<CST465.Product>
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Viewing Products";
}
<h1>@ViewBag.Title</h1>

<table>
    <thead>
        <tr>
            <th>Book Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CST465.Product product in Model)
        {
            var base64 = Convert.ToBase64String(product.FileData);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            
            <tr>
                <td>@Html.ActionLink(product.Name, "DisplayOne", new { @ID = product.ID })</td>
                <td>@product.CategoryName</td>
                <td >@product.Price</td>
                <td class="rightAllign">@product.Quantity  </td>
                <td><img class="thumbnail" src='@imgSrc' alt="@product.Name"/></td>
            </tr>
        }
    </tbody>
</table>