@model List<CST465.Product>
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin - Viewing Products";
}
<h1>@ViewBag.Title</h1>

<table>
    <thead>
        <tr>
            <th>Book Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CST465.Product product in Model)
        {
            var base64 = Convert.ToBase64String(product.FileData);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

            <tr>
                <td>@Html.ActionLink(product.Name, "Edit", product)</td>
                <td>@product.CategoryName</td>
                <td>@product.Price</td>
                <td class="rightAllign">@product.Quantity</td>
                <td><img class="thumbnail" src='@imgSrc' alt="@product.Name" /></td>
                <td>@Html.ActionLink("Delete", "Delete", new { @ID = product.ID })</td>
            </tr>
        }
    </tbody>
</table>

@*@foreach (CST465.ProductModel product in Model)
{
    @Html.DisplayFor(Model => product)
}*@

<br />
<div>
    @Html.ActionLink("Add", "Add", new { ID = 0 })
</div>
<br />